name: Build

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['1.19.2-forge', '1.20.1-forge', '1.21.1-fabric', '1.21.1-neoforge']

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: |
            17
            21
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' && github.ref != 'refs/heads/master' }}

      - name: Build with Gradle
        run: |
          ./gradlew :${{ matrix.version }}:build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: devworld-${{ matrix.version }}
          path: versions/${{ matrix.version }}/build/libs/*.jar
          if-no-files-found: error
